.cmm-datatable .p-datatable-header {
  --p-datatable-header-padding: 0;
  --p-datatable-header-background: transparent;
  height: 36px;
}

.cmm-datatable .cmm-datatable-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cmm-datatable .p-multiselect {
  --p-multiselect-background: transparent;
}

.cmm-datatable .column-filter {
  border: none;
  padding: 0.5rem 0.5rem;
  color: white;
  cursor: pointer;
  width: auto;
  min-width: 0;
  transition: background 0.2s;
}

.cmm-datatable .p-multiselect-dropdown {
  display: block;
  font-size: 0.9rem;
}

.cmm-datatable .p-multiselect-label-container {
  display: none;
}
.cmm-datatable .p-multiselect {
  box-shadow: none;
}
