.layout-main {
  flex: 1 1 auto;
  /* padding-bottom: 2rem; */
}

.layout-wrapper {
  display: flex;
  height: 100vh; /* 전체 화면 높이 고정 */
  overflow: hidden;
}
.layout-wrapper .layout-main-container {
  margin-left: 22rem;
  flex: 1;
  display: flex;
  flex-direction: column; /* 위(헤더/탭)에서 아래(본문)로 배치 */
  overflow: hidden;
  justify-content: space-between;
  padding: 4rem 2rem 2rem 2rem;

  transition: margin-left var(--layout-section-transition-duration);
}

.layout-wrapper.layout-static-inactive .layout-sidebar {
  transform: translateX(-100%);
  left: 0;
}

.layout-wrapper.layout-static-inactive .layout-main-container {
  margin-left: 0;
  padding-left: 2rem;
}
